.content{
    font-family: Open Sans;
    // justify-content: center;
    max-width: 450px;
}

p, span {
    font-size: 18px;
}

h2 {
    font-size: 20px;
}

.route-container{
    position: relative;
    height: 0;
    width: 0;
    pointer-events: none;
  
    svg.route{
      position: relative;
      display: block;
      overflow: visible;
      left: -270px;
  
      path{
        stroke-width: clamp(8px, 1vw, 10px);
        vector-effect: non-scaling-stroke;
        position: absolute;
        stroke-linecap: round;
        stroke-linejoin: round;
        filter:
          drop-shadow(2px 0 0 #fff)
          drop-shadow(-2px 0 0 #fff)
          drop-shadow(0 2px 0 #fff)
          drop-shadow(0 -2px 0 #fff);
      }
    }
}
