.train-container{
  height: 0px;
  width: 0px;
  clip: rect(auto, auto, auto, auto);

  .train {
      position: relative;
      top: -15px;
      left: -295px;
      height: 30px;
      width: 50px;
      overflow-x: hidden;
  }
}